body { 
    background: white;
   
}

 .ingredensen, .steg, .presentation{
        color: black;    
}

#ranking, #votes{
    float: top;
    font-size: 120%;
    font-weight: 900;
    margin-left: 5px;
    
}

.note{
   
    font-size: 200%;
        float: top;
}

.proteinpan{
    text-align: center;
    margin-top: -2.5%;
    font-size: 300%;
}


.proteinpan, .cream, .tema, .portion, .vanillacream, .doit{
    color: white;
    background: black;
    
}

.star{
    width: 8%;
    -webkit-filter: grayscale(100%); 
    float: top;
}

#ranking{
    margin-top: 1%;
    margin-bottom: 0%;
}

.pancackepic{
    width: 100%;
    height: 100%;
    margin-top: -2.5%;
    -webkit-transition: all 1.5s ease;
     -moz-transition: all 1.5s ease;
       -o-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
          transition: all 1.5s ease;
}

.pancackepic:hover { 
    -webkit-filter: grayscale(100%);
    -webkit-transform: rotate(-5deg);
     -o-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.allt{
    font-family: 'Indie Flower', cursive;
    margin: 0.5em auto 0em auto;
    height: 100%;
    width: 600px;
    background-color: white;
    border:1.5rem solid black;
    box-shadow: 50px 50px 100px black;
    
}